{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <section id="corps">
        <div class="container">
            <div class="heading">

                <h1>Contact</h1>
                <br>
                <br>
                <br>
                <br>
            </div>

            <div class="row">

                <div class="col-xl-8 offset-xl-2">

                    <form id="contact-form" method="post" action="contact.php" role="form">

                        <div class="messages"></div>

                        <div class="controls">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Votre prénom" required="required"
                                               data-error="Veuillez saisir votre prénom">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input id="form_utilisateur" type="text" name="utilisateur" class="form-control" placeholder="Votre nom d'utilisateur" required="required"
                                               data-error="utilisateur est requis.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input id="form_email" type="email" name="email" class="form-control" placeholder="Votre email" required="required"
                                               data-error="Email valide est requise">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Votre téléphone">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                            <textarea id="form_message" style="resize: none; margin: auto; width: 680px; border: solid 1px black;" name="message" class="form-control" placeholder="Entrez votre message" rows="4" maxlength="400" required="required"
                                      data-error="Merci de nous laisser un message."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="g-recaptcha" data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
                                    <input class="form-control d-none" data-recaptcha="true" required data-error="Please complete the Captcha">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <br>
                            <input type="submit" class="btn btn-success btn-send" value="Envoyer">
                            <br>
                        </div>

                    </form>

                </div>
                <!-- /.8 -->

            </div>
            <!-- /.row-->

        </div>
        <!-- /.container-->
    </section>

{% endblock %}
