{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}

    <section id="corps">
        <div class="container">
            <div class="heading">
                <h1>TR Pronos</h1>
            </div>

            <div class="login col-sm-12 col-md-6 col-lg-6 col-xl-6">

                <h2>Réinitialiser votre mot de passe</h2>

                <input class="nom" type="email" placeholder="Adresse email">
                <input class="btn btn-warning" type="submit" value="Réinitialiser">
                <br>
                <br>
            </div>

        </div>
    </section>

{% endblock %}
